@charset "UTF-8";
footer{
	
	background-color:#47CEE3;
}
#header{
	background-color:#47CEE3;
}
.main{
	background-color:#57CEE3;
	padding: 60px;
	margin: 30px;
	flex: 3;
}
.recursos{
	flex: 1;
	padding:10px;
	background: rgb(213, 237, 255);
}
.container{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.p {
	font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #0838c7;
    background-color: #ccffcc;
    border-style: solid;
    border-color: #f50c0c;
    border-width: 2px;
    margin: 14px;
    padding: 20px;
    border-radius: 14px;
}
.texto-degradado { 
	background: -webkit-linear-gradient( #4E2390, #DBC9F0);
	 -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent; 
	  font-size: 30px; 
	  font-weight: bold; 
	  border: "1"}