<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<title>Pablo Vale TPN°3</title>
<link rel="stylesheet" href="/css/styles.css"></link>
</head >
<body> 
  
  </body>

	
<style> 
            .texto-degradado { background: -webkit-linear-gradient( #4E2390, #DBC9F0); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 50px; font-weight: bold; } 
        </style> 
	<body >
	<p class="texto-degradado">Bienvenido a Programacion Visual</p>
		<progress></progress>
		<header>
		<h1>Unju 2024</h1>
		</header>
		<div class = "container">
		<nav>
			<ul>
			
  
    <hr><a href="https://www.fi.unju.edu.ar"> Fi Unju </a>
    <hr><a href="https://es-la.facebook.com/unjuvirtual/"> Facebook </a>
   <hr><a href= "https://desarrolladoresweb.org/html/tablas-en-html/"> +Informacion </a><hr>
   <hr><a href= "/Formulario"> Formulario </a><hr>
  
  
							
			</ul>
		</nav>
		</div>
		<hr>
	<main class="recursos">
				<section id="inicio">
				<font size=6>
					<a><b>La programación visual</b> es un tipo de lenguaje de programación que 
					permite a sus usuarios ilustrar sus procesos, o dicho de otra forma, 
					se trata de un lenguaje de programación visual que permite a los 
					desarrolladores explicar el proceso con palabras comprensibles para los 
					usuarios, a diferencia de un lenguaje informático tradicional 
					basado en texto. Con un entorno de programación visual como puede ser <em>Dynamo</em>, 
					el desarrollador es capaz de esbozar el flujo de la aplicación para generar 
					una lista de tareas. En el diagrama de flujo se describen las pantallas, las 
					interacciones del usuario y lo que ocurre con la información en cada etapa.</a></font>
					<br>
					<h2>Analista Programador 2024</h2>
					<p>Materia de 2do año de la carrera Apu</p>
					<h3>Docentes</h3>
					<ol>
						<li>Vega Ariel</li>
						<li>Apaza Carolina</li>
						<li>Sosa </li>
					</ol>		
				</section>
	</main>

		<aside>
					<h3>Adicionales</h3>
					<p>Contenido</p>
					<img alt="Foto" src="static/image/spring2.png">
		</aside>
		
	<footer>Pie de Pagina
	</footer>
</body>
</html>